a{
    text-decoration: none;
}
*{
    font-family: 'Inter';
}
.header{
    width: 100%;
    height: 2.5rem;
    background: #111827;
    display:flex;
    align-items: center;
    justify-content: center;
}
.header>p{
    text-align: center;
    margin: 0;
    color: white;
}

/* Add the following CSS to style.css */
/* Navbar styles */
.navbar {
    padding: 10px 20px;
    position: relative; /* Add this line */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

#logo{
    height: 30px;
    width: 100px;
}

.navbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.dropdown {
    display: none;
    position: absolute; 
    top: 100%; 
    right: 0;
    background-color: #111827; 
    padding: 10px 20px; 
}

.header {
    width: 100%;
    height: 2.5rem;
    background: #111827;
    display:flex;
    align-items: center;
    justify-content: center;
}
.header>p{
    text-align: center;
    margin: 0;
    color: white;
}

.img{
    height: 300px;
    width: 200px;
}
.image-container {
    width: 200px;
    position: relative;
    margin-bottom: 20px;
}
.poster{
    position: relative;
}
.title-bar{
    color: white;
    height: 5rem;
    width: 20rem;
    position: absolute;
    top: 12rem;
    left: 7rem;
}
.title-bar h2{
    font-size: 3rem;
    margin-bottom: 4px;
}
.title-bar button{
    background:#BE123C;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
}
#poster{
    width: 100%;
    height: 30%;
}
.add,.remove {
    position: absolute;
    top: 5px;
    right: 5px;
}
#initial .image-container{
    display: flex;
    gap: 1rem;

}
.discription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.discription p{
    width: 20rem;
}

.discription a{
    width: 10rem;
    background:#BE123C;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

#recommended ,#wishlist{
    display: flex;
    gap : 2rem;
}
#recommended{
    flex-wrap: wrap;
}
.input-area{
    margin: 20px 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.red{
    color: red;
}
#search,.remove{
    background:#BE123C;
    color: white;
    border: none;
    border-radius: 5px;
}
@media (max-width:600px) {
    .title-bar{
        height: 2rem;
        width: 9rem;
        top: 1rem;
        left: 1rem;
    }
    .title-bar h2{
        font-size: 0.8rem;
    }
    .title-bar button{
        font-size: 0.5rem;
        background:#BE123C;
        padding: 5px 7.5px;
    }
    .title-bar p{
        font-size: 0.5rem;
    }
    #initial .image-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 250px;
    }
    #recommended{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    #wishlist{
        flex-direction: column;
        align-items: center;
    }
}